* {
  border: 1px solid blue;
  font-family: 'Shippori Antique B1', sans-serif;
}


body {
  /* background-image: url('./images/overlook-two.jpg');
  height: 100%;
  background-size: cover;
  transition: all 500ms ease-in-out;
  overflow: hidden; */
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

/* .hotel-mountain-image {
  height: 100%;
  background-size: cover;
  transition: all 500ms ease-in-out;
  overflow: hidden;
} */

.nav-bar {
  background-color: #BE7BC0;
  margin-top:-2%;
}

.nav-bar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

main {
  height:100%;
  overflow-y: scroll;
}

button {
cursor:pointer;
}

.book-button, .customer-bookings {
  width: 150px;
  font-size: 16px;
  margin: 20px;
  height: 55px;
  border-radius: 50px;
}

.book-button:hover, .customer-bookings:hover {
  background-color:#8FD6EC;
}
.customer-dashboard {
  display:flex;
  flex-direction:column;
}

.customer-info {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.past-bookings, .future-bookings {
  background-color: #8FD6EC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* .future-bookings {
  flex-direction: column;
} */
 .past-bookings-box, .future-bookings-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  width:100%;
  height:100vh;
}

.past-booking-info, .future-booking-info {
  width:40%
}

.past-room-ing, .future-room-ing {
  width:70%;
  height:100%;
}

.past-room-box, .future-room-box {
  background-color: #F8F8F9;
  display: flex;
  flex-wrap: nowrap;
  width: 35%;
  height: 38%;
  margin-bottom: 2%;

}

.create-booking-section {
  background-color: #8FD6EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  height: 50%;

}
.date-button, .clear-date-search, .filter-types-button, .filter-button {
  font-size: 13px;
  height: 38px;
  border-radius: 10px;
}
.filter-types-button {
  /* position: fixed; */
}
.invalid-date-msg {
  margin-top:-1%;
}

.date-box {
  height:14%;
}

.type-filter-box {

}

.search-results {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  margin-top: 4%;
}

.available-room-box {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom:2%;
}

.search-results-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
