* {
  font-family: 'Shippori Antique B1', sans-serif;
}

h2 {
  font-size: 25pt;
  font-weight: bolder;
}

h3 {
  font-size: 20pt;
}

body {
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.nav-bar {
  background-color: #BE7BC0;
  margin-top:-2%;
}

.nav-bar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}

main {
  height:100%;
  overflow-y: scroll;
}

button {
  cursor:pointer;
}

.book-button, .customer-bookings {
  width: 150px;
  font-size: 16px;
  margin: 20px;
  height: 55px;
  border-radius: 50px;
  margin-left: 90%;
}

.book-button:hover, .customer-bookings:hover {
  background-color:#8FD6EC;
}

.customer-dashboard {
  display:flex;
  flex-direction:column;
}

.customer-info {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.past-bookings, .future-bookings {
  background-color: #8FD6EC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

 .past-bookings-box, .future-bookings-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  width:100%;
  height:100vh;
}

.booking-header {
  border-bottom-color: #8FD6EC;
  border-bottom-style: outset;
  border-bottom-width: thick;
}

.past-room-img, .future-room-img, .avail-room-img {
  width:70%;
  height:100%;
  border-radius: 2%;
}

.past-room-box, .future-room-box, .available-room-box {
  background-color: #F8F8F9;
  display: flex;
  flex-wrap: nowrap;
  width: 35%;
  height: 38%;
  margin-bottom: 2%;
  border-radius: 2%;
  align-items: center;
}


.available-room-box {
  width: 40%;
  height: 45%;
}

.create-booking-section {
  background-color: #8FD6EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  height: 65%;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 2px;
}

.date-button, .clear-date-search, .filter-types-button, .filter-button, .clear-room-search {
  font-size: 13px;
  height: 38px;
  border-radius: 10px;
}

.book-room-button {
  height: 55%;
  border-radius: 10%;
}

.date-button:hover, .clear-date-search:hover, .filter-types-button:hover, .filter-button:hover, .clear-room-search:hover, .book-room-button:hover {
   background-color: #BE7BC0;
}

.invalid-date-msg {
  margin-top:-2%;
}

.invalid-date-msg, .invalid-type-msg {
  color: #e91e63;
  font-size: 15pt;
}

.date-box {
  height:14%;
}

.room-type-filter {
  display:flex;
}

.search-results {
  background-color: #8FD6EC;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  padding-top: 6%;
  margin-top: 2%;
}

.results-found, .no-results {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.search-results-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
