* {
  border: 2px solid red;
  font-family: 'Shippori Antique B1', sans-serif;
}


body {
  /* background-image: url('./src/images/overlook.jpeg'); */
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  height:100%;
  overflow-y: scroll;
}

.book-button, .customer-bookings {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    border-radius: 50px;
}

.customer-dashboard {
  display:flex;
  flex-direction:column;
}
.customer-info {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.past-bookings, .future-bookings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.future-bookings {
  flex-direction: column;
}
 .past-bookings-box, .future-bookings-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;

}

.past-room-box, .future-room-box {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 30%;
  height: 30%;
}

.create-booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.search-results {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  margin-top: 4%;
}

.available-room-box {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.search-results-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
